/* 
Print Style Sheet
Original Author: Jack Dougherty for Writing History in the Digital Age 
Updated by Christian Wach for Commentpress
*/

@media print {

	*
	{
		height: auto !important;
	}
	
	/* Set sensible defaults */
	body 
	{
		background: white;
		color: #000;
		font-size: 10pt;
		/* Text should be "readable" */
		font-family: Georgia, serif;
		margin: 24pt;
		padding: 0;
	}
	
	/* Link style */
	a
	{
		color: #000;
		text-decoration: underline;
	}
	
	/* Headings should be "legible" */
	h1, h2, h3, h4, h5, h6 
	{
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
		/* Avoid printed page breaks immediately after headers, or in middle of images or blockquotes */
		page-break-after: avoid; 
		page-break-inside: avoid;
	}

	/* Headings as links are superfluous */
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
	{
		text-decoration: none;
	}
	
	/* Page Title */
	h2.post_title
	{
		margin: 0;
		padding-top: 4pt;
		padding-bottom: 4pt;
		font-size: 32pt;
	}
	
	/* Remove unnecessary elements */
	a.skip,
	span.off-left,
	#book_header,
	#header,
	span.commenticonbox,
	p.postmetadata,
	div.ui-resizable-handle,
	ul#sidebar_tabs,
	div#activity_sidebar,
	div#toc_sidebar,
	#respond_wrapper,
	#respond,
	div.reply_to_para,
	div.reply,
	img.avatar,
	a.comment-edit-link,
	.no_comments,
	.multipager,
	p.edit_link
	{
		display: none; 
	}
	
	/* force comment form to be hidden */
	#respond
	{
		display: none !important;
	}
	
	/* prioritise content */
	.post
	{
		font-size: 130%;
		border-bottom: 2px solid #aaa;
	}
	
	/* post meta */
	.post .search_meta,
	.post .search_meta cite,
	.post .search_meta p
	{
		margin: 0;
		padding: 0;
	}

	.post .search_meta a
	{
		text-decoration: none;
	}
	
	/* paragraph marker */
	span.para_marker
	{
		font-size: 80%;
	}
	
	span.para_marker a
	{
		color: #aaa;
		text-decoration: none;
	}
	
	.running_header_bottom
	{
		text-align: center;
		padding-bottom: 1em;
	}
	
	/* show divider */
	#comments_sidebar
	{
		border-bottom: 2px solid #aaa;
	}
	
	/* release vertical constraint on comment wrapper */
	.sidebar_contents_wrapper
	{
		height: auto;
	}
	
	/* prioritise comment content */
	div#comments_sidebar .comments_container .comment-content
	{
		font-size: 130%;
	}
	
	/* comment meta */
	.comment-identifier a
	{
		color: #aaa;
		text-decoration: none;
	}
	
	/* All Comments */
	ul.all_comments_listing div.item_body
	{
		display: block !important;
	}

	/* footer enabled */
	#footer
	{
		border: none;
		padding-top: 1em;
		color: #aaa;
	}
	
	#footer_inner 
	{
		padding: 0;
	}
	
	/* guessing some tags */
	#footer h3,
	#footer h4,
	#footer h5,
	#footer h6,
	#footer address,
	#footer span,
	#footer p,
	#footer ul li,
	#footer ol li
	{
		color: #aaa;
	}
	
	#footer a
	{
		color: #aaa;
		text-decoration: none;
	}
	
	img
	{
		page-break-inside: avoid; 
		page-break-after: avoid;
	}
	
	blockquote, 
	table, 
	pre 
	{
		page-break-inside: avoid;
	}
	
	blockquote
	{
		margin-left: 1em;
		padding-left: 1em;
		border-left: 1px solid #aaa;
		font-style: italic;
	}
	
	table
	{
	}
	
	table th,
	table td
	{
		border: 1px solid #aaa;
	}
	
	ul, 
	ol, 
	dl
	{
		page-break-before: avoid;
	}
	
	dt
	{
		font-weight: bold;
	}

}
