/* TYPOGRAPHY */



/* This helps to identify headings at the initial build stage */
h1, h2, h3, h5, h5, h6 { font-weight: bold }



/* definition lists */
dt { font-weight: bold }
dd { padding: 0 0 10px 0 }

/* acronyms etc */
acronym, 
abbr
{
	border-bottom: 1px dotted #B5BFB2;
	cursor: help;
}

/* In an aural stylesheet, we'd add:

acronym { speak: normal; }
abbr.initialism { speak: spell-out; }
abbr.truncation { speak: normal; }
*/



/* Page heading-related styles */
#title h1
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2em;
	line-height: 1;
	font-weight: normal;	
	color: #eee;
}

#title h1 a
{
	color: #eee;
}

#title h1 a:focus
{
	background-color: #9AAB84;
}

#tagline
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	line-height: 1;
	font-style :italic;
	font-weight: normal;
	color: #eee;
}




/* Table Of Contents-related styles */
ul#toc,
ul#toc ul,
ul#toc ul ul
{
	margin: 6px 0; 
}

ul#toc li
{
	margin: 0 0 4px 20px; 
	list-style: circle;
}

ul#toc li a:link,
ul#toc li a:hover,
ul#toc li a:active,
ul#toc li a:visited
{
	font-weight: normal;
	color: #666;
	text-decoration: none;
}

.sidebar_header h2
{
	margin-bottom: 5px;
	margin-top: 4px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #761D19;
	font-weight: normal;
	padding-left: 5px;
}






/* Post-related styles */
.post h1 
{
	font-family: Georgia, serif;
	font-size: 1.8em;
	font-weight: normal;
	color: #761D19;
	margin: 8px 0 16px 0;
	padding-left: 7px;
	padding-right: 7px;
}

.post h2 
{
	font-family: Georgia, serif;
	font-size: 1.55em;
	font-weight: normal;
	color: #761D19;
	margin: 8px 0 16px 0;
	padding-left: 7px;
	padding-right: 7px;
}

.post h2 a:link,
.post h2 a:hover,
.post h2 a:visited
{
	color: #761D19;
	text-decoration: none;
}

.post h2 a:active,
.post h2 a:focus
{
	background-color: #CBFFBD;
}

.post h3
{
	font-size: 1.3em;
	font-weight: normal;
	color: #761D19;
	margin: 12px 0 6px 0;
	padding-left: 7px;
	padding-right: 7px;
}

.post h3 a:link
{
	font-weight: normal;
	text-decoration: none;
	color: #761D19;
}

.post h4
{
	font-size: 1.1em;
	font-weight: 200;
	color: #555;
	margin: 20px 0 10px 0;
	padding-left: 7px;
	padding-right: 7px;
}

.post h5
{
	font-size: .85em;
	font-weight: normal;
	color: #888;
	margin: 10px 0 0 20px;
	font-style:italic;
	padding-left: 7px;
	padding-right: 7px;
}

.post p
{
	font-size: 1em;
	line-height: 1.45;
	padding-left: 7px;
	padding-right: 7px;
}

.post img
{
	vertical-align: top;
}


/* horizontal rule (to divide text from footnotes) */
.post hr 
{
	margin: 2px 0 16px 0;
	padding-left: 7px;
	padding-right: 7px;
}

.post p,
.post ul,
.post ol,
.post blockquote,
.post table
{
	padding: 7px 7px 11px 7px;
}

.post small
{
	padding-left: 7px;
	padding-right: 7px;
}

.post ul li
{
	list-style-type: disc;
	margin: 2px 0 10px 28px;
}

.post ol li
{
	list-style-type: decimal;
	margin: 2px 0 10px 28px;
}

.post ul li.list_commenticon,
.post ol li.list_commenticon
{
	list-style-type: none;
}

.post p.postmetadata
{
	font-size: .7em;
	font-family: Helvetica, Arial, sans-serif;
	padding: 5px 0;
	color: #666;
	padding-left: 7px;
	padding-right: 7px;
}

.post p.postname 
{
	font-family: Helvetica, Arial, sans-serif;
	padding: 0 0 7px 0;
	font-size: 0.7em;
	color: #666;
	padding-left: 7px;
	padding-right: 7px;
}

.post-edit-link
{
	color: #666;
	text-decoration: none;
}

.post_date
{
	font-size:1em;
}

ul.page_nav li a:link,
ul.page_nav li a:hover,
ul.page_nav li a:active,
ul.page_nav li a:visited
{
	color: #444;
	text-decoration: none;
}

p.edit_link a:link,
p.edit_link a:hover,
p.edit_link a:active,
p.edit_link a:visited
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	color: #666;
	text-decoration: none;
}

blockquote
{
	margin-left: 0;
	margin-right: 0;
	padding: 1px 15px;
}

.comments_hl
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	border-bottom: 2px solid #B5BFB2;
	color: #444;
}

.post p.archive_hl
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	border-bottom: 2px solid #B5BFB2;
	color: #666;
}

.post p.archive_hl a:link,
.post p.archive_hl a:visited,
.post p.archive_hl a:active,
.post p.archive_hl a:hover
{
	color:#666;
}

.post .archive_item h3,
.post .archive_item h3 a:link,
.post .archive_item h3 a:visited,
.post .archive_item h3 a:active,
.post .archive_item h3 a:hover
{
	color: #761D19;
}

.footnotes
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.post hr 
{
    margin: 20px 0 8px 0;
    color: #999;
    background-color: #999;
    height: 1px;
    border: none;
}

.post a
{
	text-decoration: underline;
}





/* Comment-related styles */
.comments_container h3
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 80%;
	color: #761D19;
	text-decoration: none;
}

	/* comment_block_permalink */
	.comments_container h3 a
	{
		display: block;
		padding: 6px 0 6px 20px;
		color: #761D19;
		text-decoration: none;
	}

/* no comments header */
h3.nocomments
{
	font-size: 90%;
	text-transform: uppercase;
	padding: 10px 0 6px 20px;
}

a.comment-edit-link:link,
a.comment-edit-link:hover,
a.comment-edit-link:active,
a.comment-edit-link:visited
{
	display: block;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 70%;
	color: #666;
	text-decoration: none;
	margin: 5px 5px 0 0;
}

a.comment-edit-link:hover
{
	color: #761D19;
}

.comment-identifier img
{
	float: left;
	margin: 5px 0 0 5px;
	padding: 0 5px 0 0;
	vertical-align: bottom;
}

.comment-identifier cite
{
	display: block;
	padding: 5px;
	font-size: 80%;
	font-weight: bold;
	color: #761D19;
}

.comment-identifier cite a,
.comment-identifier cite a:hover,
.comment-identifier cite a:active,
.comment-identifier cite a:visited
{
	font-weight: bold;
	color: #761D19;
	text-decoration: none;
}

a.comment_permalink:link,
a.comment_permalink:hover,
a.comment_permalink:active,
a.comment_permalink:visited
{
	display: block;
	padding: 0 5px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 70%;
	color: #666;
	text-decoration: none;
}

a.comment_permalink:hover
{
	color: #761D19;
}

.comment-content p
{
	font-size: 90%;
	line-height: 1.2;
	margin: 0 0 8px 0;
}

.comment-content a
{
	text-decoration: underline;
}

/* reply to a particular paragraph div */
div.reply_to_para
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 70%;
	color: #666;
	text-decoration: none;
}

/* reply to a particular paragraph link */
a.reply_to_para,
a.reply_to_para:link,
a.reply_to_para:hover,
a.reply_to_para:active,
a.reply_to_para:visited
a#cancel-comment-reply-link,
a#cancel-comment-reply-link:link,
a#cancel-comment-reply-link:hover,
a#cancel-comment-reply-link:active,
a#cancel-comment-reply-link:visited
{	
	display: block;
	padding: 5px 4px;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	text-decoration: none;
}

.reply a
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 70%;
	color: #666;
	text-decoration: none;
}

/* hover colour */
a.reply_to_para:hover,
.reply a:hover
{	
	color: #761D19;
	background: #eee;
}

div#respond h4
{
	padding: 0px 0 5px 0;
	background-color: transparent;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	font-size: 1em;
	font-weight: normal;
	margin: 0 0 5px 0;
}

div#respond h4 a:link,
div#respond h4 a:hover,
div#respond h4 a:active,
div#respond h4 a:visited
{
	color: #761D19;
	text-decoration: none;
}

div#respond p
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 70%;
	color: #666;
	padding: 0;
	margin: 0 0 5px 0;
}

div#respond p a:link,
div#respond p a:hover,
div#respond p a:active,
div#respond p a:visited
{
	color: #666;
	text-decoration: none;
	padding: 0;
}

div#respond p a:active,
div#respond p a:hover,
div#respond p a#cancel-comment-reply-link:hover
{	
	color: #761D19;
}

/*
div#respond p a#cancel-comment-reply-link
{	
	border-top: 1px dashed #B5BFB2;
	border-bottom: 1px dashed #B5BFB2;
}
*/

.req
{
	color: #761D19;
}





/* Group Page */
ul#group_list li
{
	padding: 0 0 10px 0;
	margin: 0 20px;
	list-style: disc;
}






/* Search Results Page */
.search_result h3
{
	font-size: 1.1em;
	margin: 15px 0 5px 0;
	padding: 0;
}

.search_meta
{
	margin: 0 5px;
	font-size: 80%;
}

.search_meta p
{
	margin: 0;
	padding: 0;
}




/* Image Page */
ul.image_link h4
{
	font-size: 1.1em;
	font-weight: 200;
	color: #555;
	margin: 20px 0 10px 0;
}



/* Multipage links */
#content .post div.multipager a,
#content .post div.multipager a:link,
#content .post div.multipager a:hover,
#content .post div.multipager a:active,
#content .post div.multipager a:visited
{
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	font-weight: bold;
	font-size: 70%;
	text-transform: uppercase;
	text-decoration: none;
}



/* Font stack options

	The following represents a list of font stacks, as recommended by Nathan Ford in
	http://unitinteractive.com/blog/2008/06/26/better-css-font-stacks/

	I've added inverted commas around the relevant family names to ensure compatibility.
	p = balanced for paragraphs or body copy
	t = balanced for headlines or titles

	- - - -

Arial, 'Helvetica Neue', Helvetica, sans-serif - p, t

Baskerville, 'Times New Roman', Times, serif - p
Baskerville, 'Times, Times New Roman', serif - t

Cambria, Georgia, Times, 'Times New Roman', serif - p, t
'Century Gothic', 'Apple Gothic', sans-serif - p, t

Consolas, 'Lucida Console', Monaco, monospace - p, t

'Copperplate Light', 'Copperplate Gothic Light', serif - p, t

'Courier New', Courier, monospace - p, t

'Franklin Gothic Medium', 'Arial Narrow Bold', Arial, sans-serif - p, t

Futura, 'Century Gothic', 'Apple Gothic', sans-serif - p, t

Garamond, 'Hoefler Text', 'Times New Roman', Times, serif - p
Garamond, 'Hoefler Text', Palatino, 'Palatino Linotype', serif - t

Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif - p
Geneva, Verdana, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif - t

Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif - p
Georgia, Times, 'Times New Roman', serif - t

GillSans, Calibri, Trebuchet, sans-serif - p
GillSans, Trebuchet, Calibri, sans-serif - t

'Helvetica Neue', Arial, Helvetica, sans-serif - p
Helvetica, 'Helvetica Neue', Arial, sans-serif - t

Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif - p, t

'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif - p, t

Palatino, 'Palatino Linotype', Georgia, Times, 'Times New Roman', serif - p
Palatino, 'Palatino Linotype', 'Hoefler Text', Times, 'Times New Roman', serif - t

Tahoma, Geneva, Verdana - p
Tahoma, Verdana, Geneva - t

Times, 'Times New Roman', Georgia, serif - p, t

Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif - p
Trebuchet, Tahoma, Arial, sans-serif - t

Verdana, Geneva, Tahoma, sans-serif - p
Verdana, Tahoma, Geneva, sans-serif - t

*/